<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> {{ pageTitle }} </title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header class="main-header">
        <nav class="main-nav">
            <ul class="item-list">
                <li class="list-class"><a class="nav-link" href="/">Shop</a></li>
                <li class="list-class"><a class="nav-link" href="/admin/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header>

    <main class="main-content">
        {{#if prods.length > 0}}
            <div class="product-container">
                {{#each prods}}
                    <div class="product-item">
                        <h2 class="product-title">{{this.title}}</h2>
                        <p class="product-description">{{this.description}}</p>
                        <p class="product-price">${{this.price}}</p>
                    </div>
                {{/each}}
            </div>
        {{else}}
            <h1>Welcome to our Shop</h1>
        {{/if}}
    </main>
</body>
</html>
